body {
    background-image: url('record.jpeg');
    /* background-image: url('bpmusic.jpg'); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /* background-image: linear-gradient(rgb(0, 0, 0), rgb(29, 28, 28), rgb(49, 47, 47)); */
    color: white;
    font-family: 'Quicksand', sans-serif;
}

.navbar h1 {
    color: #8D80AB;
    padding-left: 15px !important;
}

.navbar a {
    color: #8D80AB;
}

.navbar a:hover {
    color: #E35F87;
    text-decoration: underline;
}

#sky {
    width: 100vw;
    height: 400px;
}

.about {
    background-color: rgba(255, 255, 255, 0.815);
    color: black;
}

.shadow {
    text-shadow: 2px 3px 5px black;
}

footer {
    background-color: #212529c4;
    height: 85px;
}

footer h3 {
    padding-bottom: 15px;
    color: #8D80AB; 
}

footer a {
    color: #8D80AB;
    text-decoration: none;
}

footer a:hover {
    color: #E35F87;
    text-decoration: underline;
}


@media (min-width: 576px) {

.about {
    text-align: center;
}

}
	

