body {
    background-image: url('notes.jpeg');
    color: white;
}

.navbar h1 {
    padding-left: 15px !important;
}

.navbar a:hover {
    color: white;
}

.about {
    background-color: rgba(255, 255, 255, 0.781);
    color: black;
}

footer a {
    text-decoration: none;

}

footer a:hover {
    color: white
}
