body {
    background-image: url('record.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    font-family: 'Quicksand', sans-serif;
}

.navbar h1 {
    color: #8D80AB;
    padding-left: 15px !important;
}

.navbar a {
    color: #8D80AB;
}

.navbar a:hover {
    color: #E35F87;
    text-decoration: underline;
}

.about {
    background-color: rgba(255, 255, 255, 0.781);
    color: black;
}

.purple {
    width: 250px;
    /* border-radius: 100%; */
}

footer {
    background-color: rgba(255, 255, 255, 0.904);
}

footer h3 {
    padding-bottom: 15px;
    color: #8D80AB; 
}

footer a {
    color: #8D80AB;
    text-decoration: none;
}

footer a:hover {
    color: #E35F87;
    text-decoration: underline;
}


